.App {
  grid-template-columns: 1fr;
}
.App.dungeonMaster {
  grid-template-columns: auto 1fr auto;
}

.App > div {
  height: 100%;
}

.navButton {
  transition: opacity 200ms;
  position: absolute;
  opacity: 0.25;
}
.navButton:hover {
  opacity: 1;
}
.navButton-x {
  top: 50%;
  transform: translateY(-50%);
  width: 4ch;
  height: 8ch;
}
.navButton-l {
  left: 1ch;
}
.navButton-r {
  right: 1ch;
}
.navButton-y {
  left: 50%;
  transform: translateX(-50%);
  width: 8ch;
  height: 4ch;
}
.navButton-t {
  top: 1ch;
}
.navButton-b {
  bottom: 1ch;
}

.hexagon {
  transition: opacity 0.2s;
  stroke: black;
  stroke-width: 1px;
}
.hexagon:hover {
  opacity: 0.8;
}

.playerFog .hexagon.fogOverlay {
  fill: rgb(15, 15, 15);
}
.masterFog .hexagon.fogOverlay {
  fill: rgba(0, 0, 0, 0.7) !important;
}

.fogAnimated .playerFog .hexagon.fogOverlay {
  animation: 5s pulseHexPlayerFog infinite ease-in-out;
}
.fogAnimated .masterFog .hexagon.fogOverlay {
  animation: 15s pulseHexMaster infinite ease-in-out;
}

.fogAnimated .masterFog:nth-child(2n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(2n) .hexagon.fogOverlay {
  animation-delay: -1s;
  animation-duration: 15.5s;
}
.fogAnimated .masterFog:nth-child(3n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(3n) .hexagon.fogOverlay {
  animation-delay: -2s;
  animation-duration: 13.75s;
}
.fogAnimated .masterFog:nth-child(5n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(5n) .hexagon.fogOverlay {
  animation-delay: -3s;
  animation-duration: 15.25s;
}
.fogAnimated .masterFog:nth-child(7n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(7n) .hexagon.fogOverlay {
  animation-delay: -4s;
  animation-duration: 16s;
}
.fogAnimated .masterFog:nth-child(13n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(13n) .hexagon.fogOverlay {
  animation-delay: -5s;
  animation-duration: 15s;
}
.fogAnimated .masterFog:nth-child(17n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(17n) .hexagon.fogOverlay {
  animation-delay: -6s;
  animation-duration: 14.5s;
}
.fogAnimated .masterFog:nth-child(19n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(19n) .hexagon.fogOverlay {
  animation-delay: -7s;
  animation-duration: 13s;
}
.fogAnimated .masterFog:nth-child(13n) .hexagon.fogOverlay,
.fogAnimated .playerFog:nth-child(13n) .hexagon.fogOverlay {
  animation-delay: -8s;
  animation-duration: 17s;
}

@keyframes pulseHexMaster {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.85;
  }
}

@keyframes pulseHexPlayerFog {
  0%,
  100% {
    fill: rgb(10, 10, 10);
  }

  50% {
    fill: rgb(20, 20, 20);
  }
}

@keyframes strokePulse {
  0%,
  100% {
    stroke-width: 2px;
  }

  50% {
    stroke-width: 1.2px;
  }
}

svg.selectedHex .hexagon {
  stroke: #9c2b1b;
  stroke-width: 1.5px;
  z-index: 999;
}
svg:focus .hexagon {
  animation: strokePulse 1s ease-in-out infinite;
}

.hexText {
  pointer-events: none;
}

.add-tile .hexagon {
  fill: #48bb78;
}

.mapObject {
  stroke: white;
  stroke-width: 0.5px;
  cursor: pointer;
}
.mapObjectGroup.masterFog {
  animation: 5s pulseMapObject infinite ease-in-out;
}
.mapObject + .name-tooltip {
  opacity: 0;
  transition: opacity 200ms;
}
.mapObject:hover + .name-tooltip {
  opacity: 1;
}

@keyframes pulseMapObject {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.3;
  }
}

.rightPanel {
  width: 325px;
}
