@tailwind base;
@tailwind components;
@tailwind utilities;

.place-center {
  place-items: center;
}

.top-50p {
  top: 50%;
}

.left-50p {
  left: 50%;
}

.transform-lt-50p {
  transform: translateX(-50%) translateY(-50%);
}

.dnd-bg {
  background: url("/phb_background.jpeg");
}

.scrollbar-dark {
  scrollbar-color: #333 #111;
}

/* COMPONENTS */

input {
  @apply bg-backdrop-light;
  @apply p-2;
  @apply inline-block;
  @apply border-none;
}
input[type="color"] {
  @apply p-0;
}
input.nameEdit {
  font-family: "Mr Eaves Small Caps";
  @apply w-full;
  @apply text-dnd-header;
  @apply font-bold;
  @apply p-0;
}
input:focus,
button:focus {
  @apply outline-none;
  @apply shadow-outline;
}

.danger {
  @apply block;
  @apply px-2;
  @apply my-2;
  @apply border-2;
  @apply rounded;
  @apply text-dnd-bg;
  @apply border-dnd-header;
  @apply font-quote;
  @apply bg-dnd-hr;
}
.danger:active {
  @apply bg-dnd-header;
}

/* FONTS */

@font-face {
  font-family: "Bookinsanity";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/Bookinsanity.otf");
}

@font-face {
  font-family: "Bookinsanity";
  font-style: normal;
  font-weight: bold;
  src: local(""), url("/fonts/Bookinsanity Bold.otf");
}

@font-face {
  font-family: "Bookinsanity";
  font-style: italic;
  font-weight: bold;
  src: local(""), url("/fonts/Bookinsanity Bold Italic.otf");
}

@font-face {
  font-family: "Bookinsanity";
  font-style: italic;
  font-weight: normal;
  src: local(""), url("/fonts/Bookinsanity Italic.otf");
}

@font-face {
  font-family: "Mr Eaves Small Caps";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100;
  font-variant: small-caps;
  src: local(""), url("/fonts/Mr Eaves Small Caps.otf");
}

.font-heading,
input.nameEdit {
  font-variant: small-caps;
}

@font-face {
  font-family: "Nodesto Caps Condensed";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/Nodesto Caps Condensed.otf");
}

@font-face {
  font-family: "Nodesto Caps Condensed";
  font-style: normal;
  font-weight: bold;
  src: local(""), url("/fonts/Nodesto Caps Condensed Bold.otf");
}

@font-face {
  font-family: "Nodesto Caps Condensed";
  font-style: italic;
  font-weight: bold;
  src: local(""), url("/fonts/Nodesto Caps Condensed Bold Italic.otf");
}

@font-face {
  font-family: "Nodesto Caps Condensed";
  font-style: italic;
  font-weight: normal;
  src: local(""), url("/fonts/Nodesto Caps Condensed Italic.otf");
}

@font-face {
  font-family: "Scaly Sans";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/Scaly Sans.otf");
}

@font-face {
  font-family: "Scaly Sans";
  font-style: normal;
  font-weight: bold;
  src: local(""), url("/fonts/Scaly Sans Bold.otf");
}

@font-face {
  font-family: "Scaly Sans";
  font-style: italic;
  font-weight: bold;
  src: local(""), url("/fonts/Scaly Sans Bold Italic.otf");
}

@font-face {
  font-family: "Scaly Sans Caps";
  font-style: italic;
  font-weight: normal;
  src: local(""), url("/fonts/Scaly Sans Italic.otf");
}

@font-face {
  font-family: "Scaly Sans Caps";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/Scaly Sans Caps.otf");
}

@font-face {
  font-family: "Scaly Sans Caps";
  font-style: normal;
  font-weight: bold;
  src: local(""), url("/fonts/Scaly Sans Caps Bold.otf");
}

@font-face {
  font-family: "Scaly Sans Caps";
  font-style: italic;
  font-weight: bold;
  src: local(""), url("/fonts/Scaly Sans Caps Bold Italic.otf");
}

@font-face {
  font-family: "Scaly Sans Caps";
  font-style: italic;
  font-weight: normal;
  src: local(""), url("/fonts/Scaly Sans Caps Italic.otf");
}

@font-face {
  font-family: "Solbera Imitation";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/Solbera Imitation.otf");
}

.font-dropcaps {
  font-variant: small-caps;
}

@font-face {
  font-family: "Zatanna Misdirection";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/Zatanna Misdirection.otf");
}

@font-face {
  font-family: "Zatanna Misdirection";
  font-style: normal;
  font-weight: bold;
  src: local(""), url("/fonts/Zatanna Misdirection Bold.otf");
}

@font-face {
  font-family: "Zatanna Misdirection";
  font-style: italic;
  font-weight: bold;
  src: local(""), url("/fonts/Zatanna Misdirection Bold Italic.otf");
}

@font-face {
  font-family: "Zatanna Misdirection";
  font-style: italic;
  font-weight: normal;
  src: local(""), url("/fonts/Zatanna Misdirection Italic.otf");
}
